@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* CSS Variables */
:root {
  --primary-color: #2e5180;
  --secondary-color: #fff;
  --text-color: #000;
  --overlay-background-color: #101010e5;
  --contact-background-color: #cdd6dd;
  --footer-background-color: #2e5180cc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
